/* 
The universal selctor makes the entire page follow the same guidelines. The page will have 
a border-box with 0px padding and 0px margin.
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
The background-color selector will give the body a white background color. 
*/
body {
    background-color: #d9dcd6;
}

/*
The header will have a padding with 20px, a font family consisting of 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 
a dark blue background color, and white font color. 
*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*
The h1 tag will display with an inline-block value and a font size of 48px.
*/
 h1 {
    display: inline-block;
    font-size: 48px;
}

/*
The span class tag "seo" will have a font color grey.
*/
header h1 .seo {
    color: #d9dcd6;
}

/*
The header tag will have a padding of 15px, a right margin of 0px, no float, 
*/
header {
    padding-top: 15px;
    margin-right: 0px;
    float: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*
The list header has no style type.
*/
header  ul {
    list-style-type: none;
   
}

/*
The list header has a display of inline block. a left margin of 25px, and is aligned right. 
*/

header  ul li {
    display: inline-block;
    margin-left: 25px;
    align-items: right;
 
    
}

/*
The a tag has white text and has no text decoration.
*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*
The p tag has a font size of 16px.
*/
p {
    font-size: 16px;
}

/*
The "hero" section has a height of 800px, a width of 100 percent, a bottom margin of 25px, 
 and the background image covers the entire container while being centered. 
*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Digital-Marketing-Meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*
The image class float left property called "search-engine-optimization" and "social-media-marketing" float left 
and has a right margin of 25px.
*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*
The image class float right property called "online-reputation-management" floats right and has 
a left margin of 25px.
*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*
The main class "content" has a width of 75 percent, is displayed in inline block, and is margined left 20px. 
*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*
The main class "benefits" has a right margin of 20px, a padding of 20px, the element is below, left as well as right 
of the floated elements, it floats right, has a 20 percent width, a 100 percent height, a font family
*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*
The section class "benefit lead" has a bottom margin of 32px and the text color is white.
*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*
The section class "benefit brand" has a bottom margin of 32px and the text color is white. 
*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/*
The section class "benefit cost" has a bottom margin of 32px and the text color is white. 
*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*
The h3 class "benefit lead" has a bottom margin of 10px and is aligned in the center.
*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*
The h3 class "benefit brand" has a bottom margin of 10px and is aligned in the center. 
*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*
The h3 class "benefit cost h3" has a bottom margin of 10px and is aligned in the center. 
*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*
The "benefit lead img" is displayed in block, has a margin of 10px, and a max width of 150px.
*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*
The "benefit brand img" is displayed in block, has a margin of 10px, and a max width of 150px.
*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*
The "benefit cost img" is displayed in block, has a margin of 10px, and a max width of 150px.
*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*
The class section "search engine optimization" has a bottom margin of 20px, padding of 50px, 
height of 300px, font family consisting of 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
a background collor of blue, and a text color of white. 
*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*
The class section "online reputation management" has a bottom margin of 20px, padding of 50px, 
height of 300px, font family consisting of 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
a background collor of blue, and a text color of white.
*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*
The class section "social media marketing" has a bottom margin of 20px, padding of 50px, 
height of 300px, font family consisting of 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
a background collor of blue, and a text color of white.
*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*
The class image "search engine optimization" has a max height of 200px.
*/
.search-engine-optimization img {
    max-height: 200px;
}

/*
The class image "online reputation management" has a max height of 200px.
*/
.online-reputation-management img {
    max-height: 200px;
}

/*
The class image "social media marketing" has a max height of 200px. 
*/
.social-media-marketing img {
    max-height: 200px;
}

/*
The h2 class "search engine optimization" heading has a bottom margin of 20px and a font size of 36px.
*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*
The h2 class "online reputation management" has a bottom margin of 20px and a font size of 36px.
*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*
The h2 class "social media marketing" has a bottom margin of 20px and a font size of 36px.
*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*
The footer tag has a padding of 30px, the element is below, left as well as right 
of the floated elements, the font family consists of 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;,
and the text is aligned in the center. 
*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*
The h2 footer tag has a font size of 20px.
*/
footer h2 {
    font-size: 20px;
}

